/* Estilos generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Estilos de las tarjetas */
.card-container {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(30vw); 
  max-height: 70vh; /* Evita que la tarjeta crezca demasiado */
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  display: none;
  opacity: 0;
  transform-origin: center;
  pointer-events: auto;
  z-index: 999999;
  border-color: black;
  border-style: groove;
  border-radius: 5%;
  border-width: 30;
  font-size: clamp(5px, 2vw, 14px); /* Ajustable */
  overflow: hidden;
  word-wrap: break-word;
  
  display: flex;
  flex-direction: column; /* Organiza el contenido y botones en columna */
}

/* Contenedor del texto dentro de la tarjeta */
.card-content {
  flex-grow: 1; /* Permite que el contenido crezca sin afectar los botones */
  overflow: auto; /* Hace que el contenido sea desplazable si hay mucho texto */
  max-height: 50vh; /* Ajusta la altura máxima del contenido */
}

.card-container h1 {
  margin-top: 0;
  color: #333;
}

.card-container p {
  color: #666;
  line-height: 1.6;
}


/* Contenedor de botones */
.card-buttons {
  display: flex;
  flex-wrap: wrap; /* Permite que los botones se acomoden si no hay espacio */
  gap: 5px; /* Espaciado entre botones */
  justify-content: center;
  position: sticky;
  bottom: 0;
  background: white;
  padding: 10px 0;
}

.card-button {
  flex: 1; /* Hace que todos los botones se distribuyan uniformemente */
  min-width: clamp(40px, 5vw, 80px); /* El ancho será relativo al ancho de la pantalla */
  max-width: clamp(50px, 7vw, 200px); /* Máximo relativo al ancho de la pantalla */
  height: clamp(30px, 5vh, 120px); /* La altura será relativa al alto de la pantalla */
  font-size: clamp(10px, 2vw, 16px); /* Ajuste dinámico del tamaño del texto */
  border-radius: 10px;
  border: 1px solid black;
  background-color: lightgray;
  cursor: pointer;
}


/* Ajustar tamaño de botones en pantallas pequeñas */
@media (max-width: 600px) {
  .card-button {
    max-width: 60px;
    font-size: 12px;
  }
}

.card-button:hover {
  background-color: #9b5ac9;
  transform: scale(1.1);
}

.card-button .material-icons {
  color: white;
  font-size: 24px;
}

.card-button.back {
  background-color: #666;
}

.card-button.back:hover {
  background-color: #444;
}

/* Estilos para las palabras y subtítulos */
.word {
  display: inline-block;
  transition: all 0.3s ease;
  padding: 0 2px;
  border-radius: 3px;
}

.word.active {
  color: #ff0000;
  background-color: rgba(255, 0, 0, 0.1);
  font-weight: bold;
  transform: scale(1.1);
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.lyrics-container {
  flex-grow: 1; /* Para que el texto pueda expandirse sin empujar los botones */
  overflow-y: auto; /* Permitir scroll si el texto es muy largo */
}

.hidden {
  display: none;
}